<pre>
    <!-- {{completedExercises | json }} -->
</pre>


@if(completedExercises !== null){
<div class="search-results">
    <div class="col-span-12 xl:col-span-6">
        <ul class="p-0 mx-0 mt-0 mb-6 list-none">

            @for (exercise of completedExercises; track $index) {
            <li class="flex items-center py-2 result-item">
                @if(showGifNr === ($index + 1)){
                <div class="w-12 h-12 flex items-center justify-center rounded-full mr-4 shrink-0">
                    <img [src]="exercise.exercise.gifUrl" width="50" [alt]="exercise.exercise.name"
                        (click)="toggleGif(($index + 1))" />
                </div>
                }
                @else {
                <div
                    class="w-12 h-12 flex items-center justify-center bg-{{ colors[$index % colors.length] }}-100 dark:bg-{{ colors[$index % colors.length] }}-400/10 rounded-full mr-4 shrink-0">
                    <i class="pi pi-chevron-right text-xl! text-{{ colors[$index % colors.length] }}-500"
                        (click)="toggleGif(($index + 1))"></i>
                </div>
                }
                <div (click)="showDialog(exercise)" class="text-surface-900 dark:text-surface-0 leading-normal">{{
                    exercise.exercise.name | titlecase
                    }}<br />
                    <div class="mt-1 text-muted-color">{{ exercise.occasion.length}} {{
                        exercise.occasion.length > 1 ? 'tillfällen' : 'tillfälle' }} / Senast: {{
                        getLatestOccation(exercise.occasion) | date:"d MMM" }} </div>
                </div>
            </li>
            }
        </ul>
    </div>
</div>
}


<div class="flex justify-center">
    <p-dialog header="{{ selectedExcercise?.exercise?.name | titlecase}}" [(visible)]="visible" [modal]="true"
        [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '50vw' }" [draggable]="false"
        [resizable]="false">
        <div>
            <p-tabs value="0">
                <p-tablist>
                    <p-tab value="0">Övning</p-tab>
                    <p-tab value="1">Registrera</p-tab>
                    <p-tab value="2">Tidigare resultat</p-tab>
                </p-tablist>
                <p-tabpanels>
                    <p-tabpanel value="0">
                        <p class="m-0">

                        <div class="mb-4 p-8 flex items-center justify-center">
                            <p-card [style]="{ width: '25rem', overflow: 'hidden' }">
                                <ng-template #header>
                                    <img alt="Card" class="w-full"
                                        [src]="selectedExcercise?.exercise?.gifUrl" />
                                </ng-template>
                                <ng-template #title> {{ selectedExcercise?.exercise?.name | titlecase}} </ng-template>
                                <ng-template #subtitle> {{ selectedExcercise?.exercise?.bodyParts?.join(', ') | titlecase }}
                                    
                                    <div class="flex items-center gap-2 flex-wrap chips">
                                        @for (target of selectedExcercise?.exercise?.targetMuscles; track $index) {
                                            <p-chip class="target" [label]="target | titlecase" />
                                        }
                                        @for (target of selectedExcercise?.exercise?.secondaryMuscles; track $index) {
                                            <p-chip class="secondary" [label]="target | titlecase" />
                                        }
                                    </div>

                                </ng-template>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur
                                    error repudiandae numquam deserunt
                                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis
                                    esse, cupiditate neque quas!
                                </p>
                                <ng-template #footer>
                                    <div class="flex gap-4 mt-1">

                                    </div>
                                </ng-template>
                            </p-card>
                        </div>

                        <pre>{{ selectedExcercise | json }}</pre>
                        
                    </p-tabpanel>
                    <p-tabpanel value="1">
                        <p class="m-0">
                            Registrera resultat
                        </p>
                    </p-tabpanel>
                    <p-tabpanel value="2">

                        <div class="flex justify-center">
                            <p-accordion value="0">
                                @for (occ of selectedExcercise?.occasion; track $index) {
                                <p-accordion-panel [value]="$index">
                                    <p-accordion-header>{{ occ.date| date: 'd MMM yyyy' }}</p-accordion-header>
                                    <p-accordion-content>
                                        <div>
                                            <table role="table" class="p-datatable-table">
                                                <thead>
                                                    <tr>
                                                        <th>Set</th>
                                                        <th>Reps</th>
                                                        <th>Vikt</th>
                                                    </tr>
                                                </thead>

                                                @for (set of occ.sets; track $index) {
                                                <tr>

                                                    <td>{{ ($index + 1) }}</td>
                                                    <td>{{ set.reps }}</td>
                                                    <td>{{ set.weight }}kg</td>
                                                </tr>
                                                }

                                                <tfoot>
                                                    <tr>
                                                        <td colspan="3">Anteckningar: {{ occ.note }} </td>
                                                    </tr>

                                            </table>
                                        </div>

                                    </p-accordion-content>
                                </p-accordion-panel>
                                }
                            </p-accordion>
                        </div>
                    </p-tabpanel>
                    <p-tabpanel value="1">

                    </p-tabpanel>
                </p-tabpanels>
            </p-tabs>
        </div>
    </p-dialog>
</div>