.chips {
    margin: 20px 0;

    .target.p-chip {
        background: #000;
        color: #fff;
    }

    .secondary.p-chip {
        background: #cfcfcf
    }
}

.instructions{
    li {
        padding: 10px;
        font-size: 15px;
        &:nth-child(odd) {
            background-color: #e7e7e7;
        }
    }
}

