.search-results{
    li {
        min-height: 67px;
        border-top: 1px solid #e7e7e7;
        &:first-child{
            border: none;
        }
    }
}

.p-tabpanels {
    padding-left: 0;
    padding-right: 0;

    .p-tabpanel>div {
        justify-content: flex-start;
        flex-flow: column;
    }
}